.section {
  margin-top: 20px;
}

.box {
  padding: 20px;
}

.image {
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 2 / 3;
  background-color: var(--background-color);
}

.info {
  text-align: start;
}

.name {
  margin-bottom: 20px;
}

.text {
  margin-bottom: 10px;
}

.text__name {
  margin-right: 10px;
}

.imagesBox {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .box {
    display: flex;
    align-items: flex-start;
  }
  .image {
    width: 240px;
    margin-right: 50px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .box {
    padding: 40px 150px;
  }
  .image {
    width: 340px;
  }
}
