.section {
  margin-top: 20px;
}

.title {
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.item {
  flex-basis: 100%;
  flex-shrink: 0;
  scale: 1;
  transition: scale 250ms ease-in-out;
}

.item:hover,
.item:focus {
  scale: 1.05;
}

.heroCard {
  position: relative;
  width: 100%;
}
.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 2 / 3;
}
.name {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

@media screen and (min-width: 480px) {
  .item {
    flex-basis: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .item {
    flex-basis: calc((100% - 80px) / 5);
  }
}
@media screen and (min-width: 1280px) {
  .image {
    height: 300px;
  }
}
